<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.kungfudiscomonkey.language-switcher</string>
	<key>connections</key>
	<dict>
		<key>3425248F-8FB7-4A16-91DE-8CA331284DDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4CAF3856-42ED-4EE7-8D60-7BC0555C57CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4CAF3856-42ED-4EE7-8D60-7BC0555C57CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9FDE5C8-EEB5-458C-9F9C-19066E513E7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7805609C-4B8D-43CB-8481-5A60481301D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9FDE5C8-EEB5-458C-9F9C-19066E513E7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AEFC0A63-7C21-4306-AB31-47E433337A98</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7805609C-4B8D-43CB-8481-5A60481301D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Paul Traylor</string>
	<key>description</key>
	<string>Switch the OS language for programs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Language Switcher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>english</string>
				<key>subtext</key>
				<string>Switch the system language to English</string>
				<key>text</key>
				<string>English</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3425248F-8FB7-4A16-91DE-8CA331284DDF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string># From http://hints.macworld.com/article.php?story=20061229203902170
defaults write NSGlobalDomain AppleLanguages "(en, ja)"
echo "Switched OS language to English"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4CAF3856-42ED-4EE7-8D60-7BC0555C57CF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Language Switcher</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E9FDE5C8-EEB5-458C-9F9C-19066E513E7A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>japanese</string>
				<key>subtext</key>
				<string>日本語で使いましょうか。</string>
				<key>text</key>
				<string>日本語</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AEFC0A63-7C21-4306-AB31-47E433337A98</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string># From http://hints.macworld.com/article.php?story=20061229203902170
defaults write NSGlobalDomain AppleLanguages "(ja, en)"
echo "日本語を使おう"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7805609C-4B8D-43CB-8481-5A60481301D9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Uses icons from:
http://asgardstudios.deviantart.com/art/50-Flag-Buttons-119400125
(Free for non-commercial use.)</string>
	<key>uidata</key>
	<dict>
		<key>3425248F-8FB7-4A16-91DE-8CA331284DDF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>4CAF3856-42ED-4EE7-8D60-7BC0555C57CF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7805609C-4B8D-43CB-8481-5A60481301D9</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>AEFC0A63-7C21-4306-AB31-47E433337A98</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>E9FDE5C8-EEB5-458C-9F9C-19066E513E7A</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://kungfudiscomonkey.net</string>
</dict>
</plist>
