<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.kungfudiscomonkey.alfred.clear</string>
	<key>connections</key>
	<dict>
		<key>01E7D50E-2AF7-4571-A4A5-2698B933E3FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FFF465A-F9CB-4015-B013-4579CDD9A7B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B2CDDF58-2653-4A96-86F4-8063D6EFD650</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FFF465A-F9CB-4015-B013-4579CDD9A7B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CED57D44-EC9F-480C-9B0D-E9960FD8D5BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D362E917-4A70-4046-ABE4-C810120235F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D362E917-4A70-4046-ABE4-C810120235F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6FFF465A-F9CB-4015-B013-4579CDD9A7B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DDF8E6AB-8E3F-484D-8707-3A8E26BC2B6F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2CDDF58-2653-4A96-86F4-8063D6EFD650</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FEEF1171-62FA-4B37-A22D-925F030EA2D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>01E7D50E-2AF7-4571-A4A5-2698B933E3FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Paul Traylor</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Clear</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>python clear.py run</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D362E917-4A70-4046-ABE4-C810120235F3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Clear</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>6FFF465A-F9CB-4015-B013-4579CDD9A7B6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>clear</string>
				<key>subtext</key>
				<string>Remove all distractions</string>
				<key>text</key>
				<string>Clear</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CED57D44-EC9F-480C-9B0D-E9960FD8D5BA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>python clear.py whitelist "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>01E7D50E-2AF7-4571-A4A5-2698B933E3FB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>whitelist</string>
				<key>runningsubtext</key>
				<string>Checking running processes</string>
				<key>script</key>
				<string>python clear.py list</string>
				<key>title</key>
				<string>Whitelist an Application</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FEEF1171-62FA-4B37-A22D-925F030EA2D8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>blacklist</string>
				<key>runningsubtext</key>
				<string>Checking running processes</string>
				<key>script</key>
				<string>python clear.py list</string>
				<key>title</key>
				<string>Blacklist an Application</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DDF8E6AB-8E3F-484D-8707-3A8E26BC2B6F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>python clear.py blacklist "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B2CDDF58-2653-4A96-86F4-8063D6EFD650</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01E7D50E-2AF7-4571-A4A5-2698B933E3FB</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>6FFF465A-F9CB-4015-B013-4579CDD9A7B6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B2CDDF58-2653-4A96-86F4-8063D6EFD650</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>CED57D44-EC9F-480C-9B0D-E9960FD8D5BA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D362E917-4A70-4046-ABE4-C810120235F3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>DDF8E6AB-8E3F-484D-8707-3A8E26BC2B6F</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>FEEF1171-62FA-4B37-A22D-925F030EA2D8</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://kungfudiscomonkey.net</string>
</dict>
</plist>
